## 오승호

- 1번

In [2]:
(80 + 75 + 55) / 3

70.0

- 2번

In [3]:
a = 13

In [4]:
if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

- 3번

In [5]:
num = '881120-1068234'
print("연월일\n",num[:6])
print("숫자\n",num[7:])

연월일
 881120
숫자
 1068234

- 4번

In [6]:
num = '881120-1068234'
print(num[7])

1

- 5번

In [7]:
a = 'a:b:c:d'
print(a.replace(":","#"))

a#b#c#d

- 6번

In [8]:
a = [1, 3, 5, 4, 2]
a.sort(), a.reverse()
print(a)

[5, 4, 3, 2, 1]

- 7번

In [9]:
text = ['Life', 'is', 'too', 'short']
print(" ".join(text))

Life is too short

- 8번

In [11]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

- 9번

In [12]:
a = dict()
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'

TypeError: unhashable type: 'list'

딕셔너리는 리스트나 튜플처럼 Key를 통해 Value를 얻는데 이 Key는 고유한 값이여야 한다

- 10번

In [13]:
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))

80

- 11번

In [14]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

- 12번

In [15]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a, b 둘다 [1, 2, 3]을 가리키기 때문에 1번째가 4로 바뀐 [1, 4, 3]이 출력된다